@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --home-max-width: 1280px;
  --white: #fbfbfb;
}

body {
  background: var(--background);
  color: var(--foreground);
}
